# Python
.venv/
__pycache__/
*.pyc
.DS_Store

# Data inputs/outputs
in/portfolio/*.csv
.coverage
*.xlsx

# VSCode
.vscode/

# Scratch / local HTML test files
scratch/
/*.html

# Python virtual environment
venv/
config/policy_ai_overrides.json
